html {
  height: 100%;
  width: 100%;
}
.text-purple{
  text-align: center;
  color: purple;
}

.text-blue{
  color:blue;
  text-align: center;

}
.steve-image{ /*align in center*/
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-darkgreen{
  color:darkgreen;
  text-align:center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.link-color{
  color:red;
}
#image{
  max-width:100%;
}
#tribute-link{
    color:darkcyan;
  text-align:center;

}
#img-caption{
  text-align:center;
   font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:darkred;
}
#img-div{
  
}
#tribute-info{
  
}